* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  height: 130px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.nav-bar__logo {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nav-bar__img {
    width: 158px;
  }
  p {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
  }
  span {
    color: #a85eb4;
  }
}
.nav-bar__profil {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 78px;
    border-radius: 100%;
  }
  p {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
  }
}
.nav-choix {
  width: 100%;
  height: 90px;
  background-color: #47194e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  border-bottom: solid 4px white;
  .nav-bar__icon {
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      font-size: 66px;
    }
    i:hover {
      background-color: #2e1655;
      color: #4e2355;
      cursor: pointer;
    }
    p {
      font-size: 18px;
      color: #ffffff;
      font-family: "Poppins", sans-serif;
    }
  }
}

.form {
  width: 100%;
  height: 100vh;
  background-color: #421549;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 10px;
    input {
      width: 80%;
      height: 60px;
      outline: none;
      border-radius: 12px;
      border: none;
      font-size: 24px;
    }
  }
}
