* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  height: 130px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar__logo {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__logo .nav-bar__img {
  width: 158px;
}

.nav-bar__logo p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.nav-bar__logo span {
  color: #a85eb4;
}

.nav-bar__profil {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__profil img {
  margin-top: 19px;
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

.nav-bar__profil p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.nav-choix {
  width: 100%;
  height: 90px;
  background-color: #47194e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 4px white;
}

.nav-choix .nav-bar__icon {
  width: 8%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-choix .nav-bar__icon i {
  font-size: 40px;
}

.nav-choix .nav-bar__icon i:hover {
  background-color: #2e1655;
  color: #4e2355;
  cursor: pointer;
}

.nav-choix .nav-bar__icon p {
  font-size: 18px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.form {
  width: 100%;
  height: 80vh;
  background-image: url("../img/back.png");
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #47194e81;
  border-radius: 10px;
  width: 70%;
  height: 50%;
  gap: 5px;
}

.form form input {
  width: 80%;
  height: 60px;
  outline: none;
  border-radius: 8px;
  border: none;
  font-size: 19px;
  background-color: #ffffff;
}

.form form ::-webkit-file-upload-button {
  background-color: #47194e;
  padding: 1em;
  color: #ffffff;
  cursor: pointer;
}
/*# sourceMappingURL=dashbord.css.map */