* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  height: 130px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.nav-bar__logo {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nav-bar__img {
    width: 158px;
  }
  p {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
  }
  span {
    color: #a85eb4;
  }
}
.nav-bar__profil {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    margin-top: 19px;
    width: 140px;
    height: 140px;
    border-radius: 100%;
  }
  p {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
  }
}
.nav-choix {
  width: 100%;
  height: 90px;
  background-color: #47194e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  border-bottom: solid 4px white;
  .nav-bar__icon {
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      font-size: 40px;
    }
    i:hover {
      background-color: #2e1655;
      color: #4e2355;
      cursor: pointer;
    }
    p {
      font-size: 18px;
      color: #ffffff;
      font-family: "Poppins", sans-serif;
    }
  }
}

.form {
  width: 100%;
  height: 80vh;
  background-image: url("../img/back.png");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #47194e81;
    border-radius: 10px;
    width: 70%;
    height: 50%;
    gap: 5px;
    input {
      width: 80%;
      height: 60px;
      outline: none;
      border-radius: 8px;
      border: none;
      font-size: 19px;
      background-color: #ffffff;
    }
    ::-webkit-file-upload-button {
      background-color: #47194e;
      padding: 1em;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
