* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.nav-bar {
  width: 100%;
  height: 130px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.nav-bar__logo {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nav-bar__img {
    width: 158px;
  }
  p {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
  }
  span {
    color: #a85eb4;
  }
}
.nav-bar__profil {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ab {
    margin-top: 19px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    
  }
  p {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }
}
.nav-choix {
  width: 100%;
  height: 90px;
  background-color: #370a3fe1;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom: solid 4px white;
  .nav-bar__icon {
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      font-size: 40px;
    }
    i:hover {
      background-color: #2e1655;
      color: #4e2355;
      cursor: pointer;
    }
    p,
    a {
      font-size: 18px;
      text-decoration: none;
      color: #ffffff;
      font-family: "Poppins", sans-serif;
    }
  }
}

.film {
  padding: 17px 0px;
  width: 100;
  height: 62vh;
  background-image: url(../img/cinemaitaliano.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  gap: 8%;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  .film__post {
    background-color: #ffffff;
    width: 18%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    img {
      width: 100%;
      height: 240px;
      border-radius: 10px;
    }
    h3 {
      font-size: 18px;
      color: #000000;
      font-family: "Poppins", sans-serif;
    }
  }
}
#respo {
  background-color: #370a3fe1;
}

@media (max-width: 666px) {
  .nav-bar {
    display: none;
  }
  .nav-choix {
    background-color: #370a3f;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0%;
  }
  .post .post__post-user {
    width: 96%;
    height: 380px;
    .post__dt-pp {
      width: 60px;
      height: 60px;
    }
  }
  .post .post__footer i {
    font-size: 38px;
  }
  .post .post__footer i {
    font-size: 38px;
  }
  .film {
    flex-wrap: wrap;
    padding-top: 32%;
    padding-bottom: 65px;
    height: 81.5vh;
    .film__post {
      width: 90%;
    }
  }
  #respo {
    width: 100%;
    background-color: #370a3f;
  }
}
