@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.DROITE {
  background-color: #2e1655;
  width: 60%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DROITE .DROITE__image {
  height: 550px;
}

.GAUCHE {
  width: 40%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.GAUCHE .GAUCHE__Title {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.GAUCHE .GAUCHE__Spa {
  color: #a85eb4;
}

.GAUCHE .GAUCHE__Logo {
  height: 27%;
  width: 81%;
}

.GAUCHE .GAUCHE__Form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
  width: 100%;
  height: 70%;
}

.GAUCHE .GAUCHE__input {
  width: 60%;
  height: 50px;
  outline: none;
  background-color: #e4e1dc;
  border: none;
  border-radius: 6px;
  padding-left: 10px;
}

.GAUCHE .GAUCHE__input--sub {
  width: 20%;
  background-color: #a85eb4;
  color: white;
  font-size: 20px;
  margin-right: -304px;
}

.GAUCHE .GAUCHE__creer {
  text-decoration: none;
  font-size: 18px;
  margin-right: -304px;
}

@media (max-width: 376px) {
  .GAUCHE {
    width: 0%;
  }
  .GAUCHE .GAUCHE__Form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    height: 81%;
    top: 32%;
    left: 0%;
  }
  .GAUCHE .GAUCHE__Title {
    display: none;
  }
  .GAUCHE .GAUCHE__Logo {
    display: none;
  }
  .GAUCHE .GAUCHE__input {
    width: 70%;
  }
  .GAUCHE .GAUCHE__input--sub {
    margin-right: -142px;
    width: 30%;
  }
  .GAUCHE .GAUCHE__creer {
    margin-right: -105px;
    color: #444C84;
    font-family: "Poppins", sans-serif;
  }
  .DROITE {
    width: 100vw;
    height: 100vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .DROITE .DROITE__image {
    height: 329px;
  }
}
/*# sourceMappingURL=login.css.map */