* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  height: 130px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar__logo {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__logo .nav-bar__img {
  width: 158px;
}

.nav-bar__logo p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.nav-bar__logo span {
  color: #a85eb4;
}

.nav-bar__profil {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__profil img {
  margin-top: 19px;
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

.nav-bar__profil p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.nav-choix {
  width: 100%;
  height: 90px;
  background-color: #47194e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 4px white;
}

.nav-choix .nav-bar__icon {
  width: 8%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-choix .nav-bar__icon i {
  font-size: 40px;
}

.nav-choix .nav-bar__icon i:hover {
  background-color: #2e1655;
  color: #4e2355;
  cursor: pointer;
}

.nav-choix .nav-bar__icon p,
.nav-choix .nav-bar__icon a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post {
  width: 100%;
  height: 120%;
  background-color: #52065f6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  padding-top: 20px;
}

.post .post__indi {
  width: 40%;
  height: 250px;
  background-color: #52065f6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.post .post__indi form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.post .post__indi form select,
.post .post__indi form input {
  height: 50px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #47194e;
  border-radius: 10px;
}

.post .post__indi form #hh {
  background-color: #47194e;
  color: white;
  border: 1px solid white;
}

.post .post__post-user {
  margin-top: 60px;
  width: 40%;
  height: 550px;
  background-color: #ffffff;
  border-radius: 10px;
}

.post .post__post-user .post__header {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .post__post-user .post__header i {
  font-size: 70px;
}

.post .post__post-user .post__header .post__nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.post .post__post-user .post__dt-pp {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #47194e;
}

.post .post__contenu {
  width: 100%;
  height: 70%;
  background-color: aqua;
}

.post .post__contenu img {
  width: 100%;
  height: 100%;
}

.post .post__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .post__footer i {
  font-size: 50px;
}

@media (max-width: 666px) {
  .nav-bar {
    display: none;
  }
  .nav-choix {
    position: fixed;
    top: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 0%;
  }
  .post .post__post-user {
    width: 96%;
    height: 380px;
  }
  .post .post__post-user .post__dt-pp {
    width: 60px;
    height: 60px;
  }
  .post .post__footer i {
    font-size: 38px;
  }
  .post .post__footer i {
    font-size: 38px;
  }
}

.prent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inpt_comment {
  padding-left: 20px;
  height: 36px;
  border: 1px solid black;
  outline: none;
  border-radius: 3px;
  width: 70%;
}

.abde {
  background-color: #47194e;
  color: #ffffff;
  border: 1px solid white;
  width: 25%;
  height: 37px;
  border-radius: 3px;
}

.abde:hover {
  background-color: white;
  color: #47194e;
  border: 1px solid #47194e;
}

.header_post {
  background-color: #f6f6f6;
  height: 100px;
  width: 40rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_post .profil_post {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 6px;
}

.V_comment {
  margin-top: 15px;
  border: 2px solid #47194e;
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 40%;
}

.V_comment:hover {
  color: white;
  background-color: #47194e;
  border: 1px solid white;
}

.commentss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
}

.commentss input {
  width: 70%;
}

.commentss .comm {
  background-color: #47194e;
  color: #ffffff;
  border-radius: 20px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.tach {
  background-color: #21082556;
  width: 87%;
  height: 300px;
  margin-top: -25px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  border-radius: 8px;
}

.agogo {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=post.css.map */